.results-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.unit{
    display: flex;
    align-items: center;
    font-size: 10rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
    line-height: 1.15;
    font-style: italic;
    color: var(--off-black);

}

.lines{
 color: var(--purple);
 letter-spacing: -0.01rem;
}
.result-num{
    color: var(--purple);
    margin-right: 8px;
}